body {
    background-color: #FFDEDE;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #6E85B2;
    border-width: 3px;
    width: 3%
}

h1 {
font-family: "Courier New", Courier, monospace;
font-size: 25px;
letter-spacing: 6px;
word-spacing: -0.4px;
color: #000000;
font-weight: normal;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: uppercase
}

h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    letter-spacing: 6px;
    word-spacing: -0.4px;
    color: #000000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase
}